.userCard {
    width: 50vw;
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
